<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Coffee
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="coffee-link">
                <a href="{% url 'products' %}?category=jamaica_blue_mountain_coffee" class="dropdown-item">Jamaica Blue Mountain Coffee</a>
                <a href="{% url 'products' %}?category=marley_coffee" class="dropdown-item">Marley Coffee</a>
                <a href="{% url 'products' %}?category=sea_island" class="dropdown-item">Sea Island Coffee</a>
                <a href="{% url 'products' %}?category=jamaica_blue_mountain_coffee,marley_coffee,sea_island" class="dropdown-item">All Coffee</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="speciality-foods-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Speciality Foods
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="Foods-link">
                <a href="{% url 'products' %}?category=sauces" class="dropdown-item">Sauces</a>
                <a href="{% url 'products' %}?category=chocolate_cakes" class="dropdown-item">Chocolate & Cakes</a>
                <a href="{% url 'products' %}?category=oils" class="dropdown-item">Oils</a>
                <a href="{% url 'products' %}?category=sauces,chocolate_cakes,oils" class="dropdown-item">All Foods</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="equipment-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Equipment
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=brewing_equipment" class="dropdown-item">Brewing Equipment</a>
                <a href="{% url 'products' %}?category=coffee_grinders" class="dropdown-item">Coffee Grinders</a>
                <a href="{% url 'products' %}?category=coffee_machines" class="dropdown-item">Coffee Machines</a>
                <a href="{% url 'products' %}?category=brewing_equipment,coffee_grinders,coffee_machines" class="dropdown-item">All Equipment</a>
            </div>
        </li>
        <li>
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'blog' %}">Blog</a>
        </li> 
        <li>
            <button type="button" class="btn btn-dark logo-font font-weight-bold">Neroitalia for Business</button>
        </li>       
    </ul>
</div>